/* css common rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body>*{
    padding: 0 10%;
    background-color: blue;
}
/* /css common rules */

/* Header */

header {
    background-color: rgb(12, 50, 90);
}

.logo {
    margin: 32px 20px 32px 0;
    float: left;
}

.main_menu, .side_menu {
    float: left;
    padding: 2rem;
    line-height: 50px;
}

.main_menu {
    width: 50%;
}


ul>li {
    display: inline;
    margin-right: 1rem;
}

a {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
}

button {
    padding: 10px 30px;
    border-radius: 5px;
    margin: 5px;
}

#login {
    border: 1px solid white;
    background-color: rgb(12, 50, 90);
}

#structure {
    border: none;
    background-color: greenyellow;
}
